<nav class="navbar centered navbar-light bg-white">
  <a href="/"><i class="fa-solid fa-arrow-left-long"></i></a>
  <a class="navbar-brand" href="/">Wikinimous</a>
</nav>

<div class="container">
  <header class="px-4 py-2 my-5 text-center">
    <h1>Write an article</h1>
  </header>
  <form action="">
    <%= simple_form_for(@article) do |f| %>
    <%= f.input :title %>
    <br>
    <%= f.input :content %>
    <br>
    <%= f.button :submit %>
    <% end %>
  </form>
</div>
