@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "bootstrap/scss/bootstrap";

* {
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 0;
}

h1 {
  margin: 40px;
}

button {
  font-size: 16px;
}

i {
  color: #e11d48;
}

.list-group-item {
  padding: 40px;
}

.list-group-item p {
  color: #64748b;
}

.list-group-item h3 {
  color: #0f172a;
}